.contact-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-primary);
    background: var(--background2);
    transition: all .5s;
}

.box-form {
    border-radius: 10px;
    margin-top: 0px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--form-contact);
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
}

.icon-contact {
    margin-right: 15px;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition: all .5s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B00000;
    border-radius: 10px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    width: 100%;
    background-color: var(--background-navbar);
    height: 80%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 28px;
}

.button-contact:hover {
    color: #ffffff;
}

@media (min-width: 1200px) {
    .contact-container {
        min-width:99vw;
        min-height: 87vh;
    }
    .box-form {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 1000px;
        min-height: 300px;
        padding: 30px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width:0px) and (max-width:480px){
    .contact-container {
        width:100%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 20px;
        border-radius: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 40px; 
    }
    .button-contact {
        width: 90%;
        height: 50px;
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-height: 320px) and (max-width: 568px) and (orientation: landscape) {
    .contact-container {
        width:100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 20px;
        border-radius: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 50px;
        margin-bottom: 50px; 
    }
    .button-contact {
        width: 90%;
        height: 50px;
        font-size: 23px;
        padding: 10px;
    }
}