  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  
  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: 900;
  }
  
  @media (min-width: 1200px) {
    .footer-container {
      min-width:99vw;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  @media only screen and (min-width:0px) and (max-width:480px){
    .footer-container {
      width:100vw;
      height: 8vh;
    }
    .col-sm{
      font-size:9px;
      width: 100%;
    }
  }

  @media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) { 
    .col-sm{
      font-size:15px;
      width: 100%;
    }
  }