.home-container {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: linear-gradient(rgba(0, 0, 0, 0.901), rgba(0, 0, 0, 0.918)), url(../assets/img/fondos/background.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  transition: all .5s;
}
  
.box-home {
  max-height: 100%;
  font-size: 70px;
  font-weight: 300;
  font-family:inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

.box-home .span1 {
  font-weight: 600;
  color: #B00000;
} 

.footer {
  margin-top: 120px;
}

@media (min-width: 1200px) {
  .home-container {
    min-width:99vw;
    height: 100vh;
  }
  .animate__lightSpeedInLeft, .animate__lightSpeedInRight {
    --animate-duration: 2s;
  }
}

@media only screen and (min-width:0px) and (max-width:480px){
  .home-container {
    min-width: 100vw;
    height: 100vh;
    background-position: center center;
  }
  .box-home {
    font-size:35px;
  }
  .animate__lightSpeedInLeft, .animate__lightSpeedInRight {
    --animate-duration: 2s;
  } 
}

@media (max-height: 320px) and (max-width: 568px) and (orientation: landscape) {
  .home-container {
    width: 100vw;
    min-height: 100vh;
    background-position: center center;
  }
  .box-home {
    font-size: 35px;
    margin-top: 50px;
  }
}