.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  font-family: 'Arial Narrow Bold', sans-serif;
  background-color: var(--background-navbar);
  transition: all .5s;
}

.box-logo {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.btn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.btn-btn:hover {
  font-weight: 750;
  font-size: 16px;
}
.nav > .nav-links > a {
  color: var(--text-primary);
}
.nav > .nav-links > a:hover {
  color: #B00000;
} 
.icon-theme {
  color: #B00000;
  background-color: var(--background-navbar);
}
.icon-theme:hover {
  color: var(--text-primary);
}

.nav > #nav-check {
  display: none;
}

.theme {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 25px;
}

.icon-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2 );
}

@media (min-width: 1200px) {
  .navbar-container {
    min-width: 99vw;
    height: 6vh;
  }
  .nav {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--text-primary);
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  .nav > .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 70%;
    height: 90%;
  }
  .nav > .nav-links > a {
    font-size: 17px;
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }
  .box-logo {
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
  .logo {
    display: flex;
    width: 100%;
    height: 80%;
  }
  .theme-1 {
    display: none;
  }
  .theme-2 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  /* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #B00000;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
}

@media (max-width: 1279px) and (min-width: 720px) {
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    height: 100px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  }
  .nav > .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.8rem;
    margin-left: 10px;
    text-decoration: none;
  }
  .nav > .nav-links > a {
    text-decoration: none;
  }
  .logo {
    display: flex;
    width: 50%;
    height: 50px;
    margin-left: -20px;
  }
  .theme-1 {
    display: none;
  }
  .theme-2 {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
  .navbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 14vw;
    min-height: 100vh;
  }
  .nav {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav > .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 15px;
  }
  .nav > .nav-links > a {
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 0px 50px 10px;
    text-decoration: none;
  }
  .logo {
    display: flex;
    width: 50%;
    height: 40px;
    margin-left: 0px;
  } 
  .theme-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
  }
  .icon-theme {
    margin-left: 20px;
  }
}

@media (max-width:600px) {
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav > .nav-btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 15px;
    width: 35%;
    gap: 1.8rem;
  }
  .nav > .nav-btn > label {
    display: flex;
    flex-direction: column; 
    width: 3rem;
    height: 3rem;
    gap: .60rem;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .nav > .nav-btn > label > div {
    display: block;
    width: 100%;
    height: 2px;
    border-top: 5px solid var(--hover);
    transition: all .5s;
    transform-origin: left;
  }
  .nav-check:hover div:first-child {
    transform: rotate(45deg);
  }
  .nav-check:hover div:nth-child(2) {
    opacity: 0;
  }
  .nav-check:hover div:last-child {
    transform: rotate(-45deg);
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.15s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 85px;
    left: 0px;
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  .nav > .nav-links > a  {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    transition: all .5s;
  }
  .nav > .nav-links > a:hover {
    transform: scale(1.1);
    color: #B00000; 
  }
  .nav > #nav-check:active ~ .nav-links {
    height: 100%;
    transition: all .5s;
  }
  .nav > #nav-check:not(:active) ~ .nav-links {
    height: 0px;
    transition: all .5s;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(35vh - 40px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all .5s;
  }
  .navbar-container {
    padding: 0px 0px 0px 0px;
  }
  .logo {
    display: flex;
    width: 60%;
    height: 50px;
    margin-left: 10px;
  }
  .theme-2 {
    display: none;
  }
  .theme-1 {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -20px;
  }
  .icon-theme {
    width: 45px;
    height: 45px;
  }
}

@media (max-height: 667px) and (max-width: 375px) {
  .navbar-container {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
  }
  .nav {
    justify-content:left;
    align-items:center;
  }
  .nav-header {
    width: 70%;
    height: 50%;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem;
    transition: all 0.15s ease-in;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 70px;
    left: 0px;
    background-color: var(--background-navbar);
    transition: all .5s;
  }
  .nav > .nav-links > a  {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: all .5s;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(32vh - 40px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all .5s;
  }
}

@media (max-height: 568px) and (max-width: 320px) {
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13vh;
  }
}

@media (max-height: 400px) and (max-width: 600px) and (orientation: landscape){
  .navbar-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    width: 98%;
    min-height: 20%;
  }
  .nav {
    justify-content:left;
    align-items:flex-start;
  }
  .nav-header {
    width: 70%;
    height: 50%;
  }
  .nav > .nav-links {
    top: 80px;
    left: -15px;
  }
  .nav > .nav-links > a  {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    transition: all .5s;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 40px);
    width: calc(100vw - 40p);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all .5s;
  }
}






