.projects-box-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--background2);
    color: var(--text-primary);
    transition: all .5s;
}
.box-home-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.title-box {
    color: var(--text-primary);
    font-family:inherit;
    z-index: 5;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--text-primary);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: .5ss ease all;
    text-decoration: none;
    color: var(--text-primary);
    background-color: #b0000000; 
}
.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}
/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 0px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.box-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.right-arrow {
    right: -20px;
}
.left-arrow {
    left: -20px;
}
.right-arrow, .left-arrow {
    color: var(--icon);
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 45%;
}

@media only screen and (min-width: 1200px) {
    .projects-box-container {
        min-width:99vw;
        height: 100vh;
    }   
    .box-home-2 {
        width: 100%;
        height: 100%;
    }
    .buttons-box {
        margin-bottom: 20px;
    }
    .right-arrow:hover, .left-arrow:hover {
        transform: scale(1.2);
        color: var(--text-primary);
    }  
    .title-box {
        font-size: 50px;
        font-weight: 300;
        padding-top: 50px;
        width: 100%;
        color: var(--text-primary);
        font-family:inherit;
        z-index: 5;
    }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
    .projects-box-container {
        min-width:99vw;
        height: 100vh;
    }   
    .box-home-2 {
        width: 100%;
        height: 100%;
    }
    .buttons-box {
        margin-bottom: 20px;
    }
    .right-arrow {
        right: -60px;
    }
    .left-arrow {
        left: -60px;
    }
    .right-arrow:hover, .left-arrow:hover {
        transform: scale(1.2);
        color: var(--text-primary);
        font-size: 3rem;
    }  
    .title-box {
        width: 100%;
        font-size: 40px;
        font-weight: 300;
        margin-top: 0px;
    }
}

@media only screen and (min-width:481px) and (max-width:720px) {
    .projects-box-container {
        width:100%;
        height: 80vh;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .title-box {
        font-size: 40px;
        margin-top: 0px;
    }
    .buttons-box {
        display: flex;
        flex-direction: row;
        margin-bottom: -50px;
        margin-top: -100px;
        width: 100%;
    }
    .buttons {
        max-width: 250px;
        height: 40px;
        font-size: 13px;
    }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        width: 100%;
        margin-bottom: 0px;
    }
    .right-arrow {
        right: -70px;
    }
    .left-arrow {
        left: -70px;
    }
    .right-arrow, .left-arrow {
        top: 40%;
        color: var(--icon);
        font-size: 4rem;
        z-index: 10;
    } 
}

@media only screen and (min-width:0px) and (max-width:480px){
    .projects-box-container {
        width:100%;
        min-height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .title-box {
        font-size: 30px;
        font-weight: 500;
        margin-top: 0px;
    }
    .buttons-box {
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-bottom: -100px;
       margin-top: -150px;
       width: 100%;
    }
    .buttons {
        max-width: 90px;
        height: 40px;
        font-size: 13px;
    }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        width: 80%;
        margin-bottom: 0px;
    }
    .right-arrow {
        right: 0px;
    }
    .left-arrow {
        left: 0px;
    }
    .right-arrow, .left-arrow {
        top: 40%;
        color: white;
        font-size: 3rem;
        z-index: 10;
    } 
    .right-arrow:hover, .left-arrow:hover {
        color: var(--icon);
    } 
}

@media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
    .projects-box-container {
        width:100%;
        height: 100%;
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .buttons-box {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
     }
     .buttons {
         max-width: 120px;
         height: 40px;
         font-size: 17px;
     }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        margin-bottom: 150px;
        width: 70%;
    }
    .right-arrow {
        right: -40px;
    }
    .left-arrow {
        left: -40px;
    }
    .right-arrow, .left-arrow {
        top: 37%;
        color: white;
        font-size: 4rem;
        z-index: 10;
    } 
    .right-arrow:hover, .left-arrow:hover {
        color: var(--icon);
    }
}