.projects-box-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--background2);
    color: var(--text-primary);
    transition: all .5s;
}
.box-home-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

/* PORTFOLIO*/ 
.title-box{
    border-radius: 12px;
    width: 500px;
    height: 60px;   
    letter-spacing: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 5;
    -webkit-text-stroke: 1px rgba(182, 182, 182, 0.986);
    -webkit-background-clip: text;
    background-position: 0 0;
}
.title-box span{
    color: rgba(255, 255, 255, 0);
}
.title-box > span{
    animation:  glow 2s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: var(--text-primary);
        text-shadow: 0 0 12px rgb(137, 137, 137), 0 0 50px rgb(138, 138, 138), 0 0 100px rgb(142, 142, 142);
    }
    10%, 90%{
        color: var(--underline);
        text-shadow: none;
    }
}
.title-box > span:nth-child(2){
    animation-delay: 0.25s ;
}
.title-box > span:nth-child(3){
    animation-delay: 0.5s;
}
.title-box > span:nth-child(4){
    animation-delay: 0.75s;
}
.title-box > span:nth-child(5){
    animation-delay: 1s;
}
.title-box > span:nth-child(6){
    animation-delay: 1.25s ;
}
.title-box > span:nth-child(7){
    animation-delay: 1.5s;
}
.title-box > span:nth-child(8){
    animation-delay: 1.75s;
}
.title-box > span:nth-child(9){
    animation-delay: 2s ;
}
.title-box > span:nth-child(10){
    animation-delay: 2.25s;
}
.title-box > span:nth-child(11){
    animation-delay: 2.5s;
}
.title-box > span:nth-child(12){
    animation-delay: 2.75s ;
}
.title-box > span:nth-child(13){
    animation-delay: 3s;
}
.title-box > span:nth-child(14){
    animation-delay: 3.25s;
}
.title-box > span:nth-child(15){
    animation-delay: 3.5s ;
}
.title-box > span:nth-child(16){
    animation-delay: 3.75s;
}
.title-box > span:nth-child(17){
    animation-delay: 4s;
}
.title-box > span:nth-child(18){
    animation-delay: 4.25s ;
}
.title-box > span:nth-child(19){
    animation-delay: 4.5s;
}
.title-box > span:nth-child(20){
    animation-delay: 4.75;
} 

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--text-primary);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: .5ss ease all;
    text-decoration: none;
    color: var(--text-primary);
    background-color: #b0000000; 
}
.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}
/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--underline2);
    border-radius: 0px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: rgb(255, 255, 255);
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Overline From Center */
.hvr-overline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 0;
    background: var(--underline);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
    left: 0;
    right: 0;
}

.box-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media only screen and (min-width: 1200px) {
    .projects-box-container {
        min-width:99vw;
        min-height: 100vh;
    }   
    .box-home-2 {
        width: 100%;
        height: 100%;
    }
    .box-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0px;
    }
    .buttons-box {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .title-box span{
        font-size: 35px;
        font-weight: 800;
    }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
    .projects-box-container {
        min-width:99vw;
        height: 100vh;
    }   
    .box-home-2 {
        width: 100%;
        height: 100%;
    }
    .buttons-box {
        margin-bottom: 20px;
    }
    .title-box span{
        width: 100%;
        font-size: 40px;
        font-weight: 300;
        margin-top: 0px;
    }
}

@media only screen and (min-width:481px) and (max-width:720px) {
    .projects-box-container {
        width:100%;
        height: 80vh;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .title-box {
        font-size: 40px;
        margin-top: 0px;
    }
    .buttons-box {
        display: flex;
        flex-direction: row;
        margin-bottom: -50px;
        margin-top: -100px;
        width: 100%;
    }
    .buttons {
        max-width: 250px;
        height: 40px;
        font-size: 13px;
    }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        width: 100%;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width:0px) and (max-width:480px){
    .projects-box-container {
        min-height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    .buttons-box {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background: yellowgreen;
    }
    .buttons {
        max-width: 90px;
        height: 40px;
        font-size: 13px;
    }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 5px;
    }
    .title-box span {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
    .projects-box-container {
        width:100%;
        height: 100%;
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .buttons-box {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
     }
     .buttons {
         max-width: 120px;
         height: 40px;
         font-size: 17px;
     }
    .box-home-2 {
        width: 100%;
    }
    .box-projects {
        margin-bottom: 150px;
        width: 70%;
    }
    .right-arrow {
        right: -40px;
    }
    .left-arrow {
        left: -40px;
    }
    .right-arrow, .left-arrow {
        top: 37%;
        color: white;
        font-size: 4rem;
        z-index: 10;
    } 
    .right-arrow:hover, .left-arrow:hover {
        color: var(--icon);
    }
}