.projects-box-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: var(--background2);
    color: var(--text-primary);
    transition: all .5s;
}

.box-home-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    font-size: 50px;
    font-weight: 300;
    margin: 10px;
    width: 100%;
    color: var(--text-primary);
    font-family:inherit;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--text-primary);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: .5ss ease all;
    text-decoration: none;
    color: var(--text-primary);
    background-color: #b0000000; 
}

.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 0px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

.box-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: -20px;
    font-size: 3rem;
    color: var(--icon);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
  
.left-arrow {
    position: absolute;
    top: 45%;
    left: -20px;
    font-size: 3rem;
    color: var(--icon);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow, .left-arrow {
    color: rgba(255, 255, 255, 0.3);
  }

@media (min-width: 1200px) {
    .projects-box-container {
        min-width:99vw;
        height: 100vh;
    }   
    .box-home-2 {
        width: 100%;
        height: 100%;
    }
    .buttons-box {
        margin-bottom: 20px;
    }
    .right-arrow:hover, .left-arrow:hover {
        transform: scale(1.2);
        color: var(--text-primary);
    }  
}

@media (max-width: 1279px) and (min-width: 720px) {
    .projects-box-container {
        width:100%;
        height: 70vh;
        padding-top: 50px;
    }
    .title-box {
        font-size: 30px;
        font-weight: 900;
        margin-top: -200px;
    }
    .buttons-box {
        margin-top: -400px;
    }
    .box-projects {
        margin-top: -300px;
        width: 100%;
    }
    .right-arrow {
        right: -50px;
    }
    .left-arrow {
        left: -50px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .projects-box-container {
        width: 85.8vw;
        height: 100vh;
        margin-left: 140px;
    }
}

@media (max-width: 600px) {
    .projects-box-container {
        width:100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-home-2 {
        width: 70%;
        margin-left: 0px;
    }
    .box-projects {
        margin-top: 0px;
        width: 80%;
    }
    .right-arrow {
        top: 40%;
        right: -85px;
       
    }
    .left-arrow {
        top: 40%;
        left: -85px;
    }
    .right-arrow:hover, .left-arrow:hover {
        color: var(--text-primary);
    } 
}

@media (max-height: 600px) and (max-width: 400px) {
    .title-box {
        margin-top: 0px;
    }
    .projects-box-container {
        min-height: 700px;
    }
    .title-box {
        font-size: 35px;
    }
    .buttons-box {
        margin-bottom: 30px;
    }
    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 110px;
        height: 50px;
        margin: 5px;
        font-size: 15px;
    }
  }

  @media (max-height: 400px) and (max-width: 600px) and (orientation: landscape){
    .projects-box-container {
      width: 100%;
      margin-left: 0px;
    }
    .title-box {
        font-size: 30px;
    }
  }