.skills-container {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background: var(--background2);
    transition: all .5s;  
}

.box-icons {
    display: grid;
    justify-content: center; 
    align-items: center;
    z-index: 5;
}

.contenedor {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    height: 100px;
    width: 200px;
    background-color: #FF914D;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#FF914D, #0097B2, #00BF63 300deg, transparent 100deg);
    animation: rotar 1.5s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

span {
    z-index: 2;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

.tarjeta::after{
    content: "";
    position: absolute;
    height: 90px;
    width: 190px;
    background-color: var(--text-primary2);
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;
}

.title-icon {
    color: var(--text-primary);
}
/* Grow Shadow */
.hvr-grow-shadow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.icon-skill {
    padding-top: 0px;
    z-index: 2;
    color: var(--text-primary);
}

@media only screen and (min-width:1200px) {
    .skills-container {
        min-width:99vw;
    }
    .box-icons {
        margin-bottom: 100px;
        width:99%;
        padding: 20px;
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
    }
    .title-icon {
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (min-width:721px) and (max-width: 1199px) {
    .skills-container {
        height: 100vh;
        background: var(--background2);
    }
    .box-icons {
        width: 100%;
        padding: 10px;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .icon-skill {
        padding-top: 5px;
    }
    .title-icon {
        font-size: 30px;
        font-weight: 600;
    }
}

@media only screen and (min-width:481px) and (max-width:720px) {
    .skills-container {
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box-icons {
        display: grid;
        justify-content: center; 
        align-items: center;
        width: 80%;
        gap: 0rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 70px;
    }
    .icon-skill {
        padding-top: 5px;
    }
    .title-icon {
        font-size: 20px;
    }
}

@media only screen and (min-width:0px) and (max-width:480px){
    .skills-container {
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: yellowgreen;
    }
    .box-icons {
        display: grid;
        justify-content: center; 
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .icon-skill {
        padding-top: 0px;
    }
    .title-icon {
        font-size: 15px;
    }
    .tarjeta{
        height: 100px;
        width: 130px;
        margin: 0px;
    }
    .tarjeta::before{
        height: 130px;
        width: 130px;
    }
    .tarjeta::after{
        height: 95px;
        width: 125px;
    }
}

@media only screen and (min-width:0px) and (max-width:700px) and (orientation: landscape) {
    .skills-container {
        width: 100%;
        align-items: center;
        display: grid   ;
        justify-content: center; 
    }
    .icon {
        max-width: 150px;
        height: 80px;
        margin: 30px;
    }
    .icon-skill {
        padding-top: 10px;
    }
    .box-icons {
        display: grid; 
        align-items: center;
        width: 100%;
        gap: 0rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .title-icon {
        font-size: 20px;
    }
}